{% extends 'base.html' %}
{% block body %}
<div class="mt-4 container-fluid">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-3 col-9 mt-4">
                    <div class="card mt-4">
                        <div class="card-body">
                    <h3 class="mb-3">Add Todo</h3>
                    <form action="/" method="POST">
                        <div class="mb-3">
                            <label for="todo-title" class="form-label">Todo Title</label>
                            <input type="text" class="form-control" id="todo-title" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="todo-desc" class="form-label">Description</label>
                            <input type="text" class="form-control" id="todo-desc" name="desc" required>
                        </div>
                        <button type="submit" class="btn btn-warning w-100">Add</button>
                    </form>
                    </div></div>
                </div>
            </div>


</div>
<div class="container mt-5">
    <h4 class="mb-3">All Todos</h4>
    {% if allTodo|length == 0 %}
    <div class="alert alert-info" role="alert">
        No todo found!
    </div>
    {% else %}
    <div class="row">
            {% for todo in allTodo %}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{todo.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{todo.date_created}}</h6>
                      <p class="card-text">{{todo.desc}}</p>
                      <a href="/edit?sno={{todo.sno}}"><button class="btn btn-warning btn-sm mx-1">Edit</button></a>
                      <a href="/delete?sno={{todo.sno}}"><button class="btn btn-danger btn-sm mx-1">Delete</button></a>
                    </div>
                </div>
            </div>    
            {% endfor %}  
    </div>
    {% endif %}
</div>
{% endblock %}